:root {
  /* Color */
  --text-color: #222222;
  --surface: #c0c0c0;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --window-frame: #0a0a0a;
  --dialog-blue: #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray: #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue: #0000ff;

  /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight),
    inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face),
    inset 2px 2px var(--button-shadow);
  --default-button-border-raised-outer: inset -2px -2px var(--window-frame), inset 1px 1px var(--window-frame);
  --default-button-border-raised-inner: inset 2px 2px var(--button-highlight), inset -3px -3px var(--button-shadow), inset 3px 3px var(--button-face);
  --default-button-border-sunken-outer: inset 2px 2px var(--window-frame), inset -1px -1px var(--window-frame);
  --default-button-border-sunken-inner: inset -2px -2px var(--button-highlight), inset 3px 3px var(--button-shadow), inset -3px -3px var(--button-face);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame),
    inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow),
    inset 2px 2px var(--button-highlight);
}

body {
  font-family: "Alkalami", serif;
  margin: 0;
  padding: 0;
  background-color: #ffdb8f;
  letter-spacing: 0.5px;
  font-size: 1.2em;
  overflow-x: hidden;
}
.overflow-hidden {
  overflow: hidden;
}
#search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  padding: 0;
  margin: 0;
}
#search-input {
  width: 70%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  font-family: "Alkalami", serif;
}
#search-submit {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Alkalami", serif;
}
#inline-container {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 0;
  transform: translateY(-1.5em);
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  text-align: center;
  border-top: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #ffdb8f;
  justify-content: space-evenly;
}
.footer-item {
  font-size: 1em;
  padding: 0;
  margin: 0;
  text-align: center;
}
#about-link {
  position: absolute;
  top: 1%;
  right: 1%;
}

#tree {
  position: absolute;
  bottom: 75px;
  right: -10%;
  z-index: 10;
  height: 500px;
}
#powertools {
  position: absolute;
  bottom: 75px;
  left: 5px;
  z-index: 10;
  height: 100px;
  transform: scaleX(-1);
}

#current-link {
  color: black;
  text-decoration: underline;
}

.navbar-container {
  position: fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  align-items: center;
  background-color: #ffdb8f;
  border-bottom: black 1px solid;
  padding: 5px;
  letter-spacing: 0.5px;
  z-index: 1000000;
}

.navbar-container > * {
  margin: 0 5px;
  padding: 0;
  letter-spacing: 1px;
}
.navbar-container > h1 {
  margin: 2px 5px -10px 25px;
  padding:0;
}
.container {
  padding-left: 10%;
  height: 60vh;
}
  
.lend-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 75vw;
  padding: 20px;
  border-radius: 10px;
}
.lend-container > .right, .left {
  border: 1px solid black;
  width: 50%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: 49%;
}


form > .item {
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
  display: inline-block;
  font-family: "Alkalami", serif;
  transform: translateX(1vw);
  
}

.right {
  border-right: none;
  border-left: none;
}
.ma-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 75vw;
  height: 60vh;
  padding: 20px;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 16px;
  background-color: var(--button-face);
}
::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-face);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
}

.card {
  width: 25%;
  height: 400px;
  border: 1px solid black;
  padding: 1%;
  margin: 1%;
}
.card > h3, h2, b {
  margin: 0;
  padding: 0;
}
.card > p {
  margin: 0;
  padding: 0;
  font-size: small;
}
.card-image {
  width: 100%;
}
.card-br {
  width: 100%;
  height: 2px;
  border: 1px solid black;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}